{% extends 'food_app/base.html' %}

{% block content %}

    <h1>Strona Główna</h1>

        {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'admin:index' %}">Dodaj do menu (Admin)</a>
        {% endif %}
        <a href="{% url 'order' %}">Zamów</a>
        <a href="{% url 'order_history' %}">Historia zamówień</a>
        <a href="{% url 'register' %}">Rejestracja</a>
        <a href="{% url 'login' %}">Logowanie</a>
        <a href="{% url 'logout' %}">Wyloguj</a>

    {% if username %}
        <p>Zalogowany jako: {{ username }}</p>
    {% endif %}

    <h2>Prezentacja dań:</h2>

    {% for dish in dishes %}
            <h2>{{ dish.name }}</h2>
            <p>{{ dish.description }}</p>
            <p>Cena: {{ dish.net_price }} zł</p>
            <img src="{{ dish.image.url }}" alt="{{ dish.name }}"/>
    {% endfor %}

{% endblock %}