{% extends "food_app/base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>Zamówienie</h2>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="customer_name">Imię i nazwisko</label>
          <input type="text" class="form-control" id="customer_name" name="customer_name" required>
        </div>
        <div class="form-group">
          <label for="customer_email">Email</label>
          <input type="email" class="form-control" id="customer_email" name="customer_email" required>
        </div>
        <div class="form-group">
          <label for="customer_phone">Telefon</label>
          <input type="text" class="form-control" id="customer_phone" name="customer_phone" required>
        </div>
        <div class="form-group">
          <label for="customer_address">Adres</label>
          <input type="text" class="form-control" id="customer_address" name="customer_address" required>
        </div>
        <hr>
        <h4>Wybierz danie</h4>
          {% for dish in dishes %}
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <h5>{{ dish.name }}</h5>
                  <p>{{ dish.description }}</p>
                  <p>Cena: {{ dish.net_price }} zł</p>
                </div>
                <div class="col-md-6">
                  <label for="counts_{{ forloop.counter0 }}">Ilość</label>
                  <input type="number" class="form-control" id="counts_{{ forloop.counter0 }}" name="counts_{{ forloop.counter0 }}" min="1" value="1">
                  <input type="checkbox" name="dishes" value="{{ dish.id }}"> Wybierz to danie
                </div>
              </div>
            </div>
          {% endfor %}
        <hr>
        <button type="submit" class="btn btn-primary">Zamów</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
